.heading {
   margin-bottom: 60px;
}

.container  {
   margin-top: 40px;
}

.postsContainer {
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 1.4rem;
}

.all {

}

.hidden {
   display: none;
}