.wrap {
  background-color: rgb(77, 77, 242);
  border-radius: 5px;
  height: 50px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap_close {
 display: flex;
}



.wrap_line {
  width: 40px;
  height: 5px;
  background-color: black;
  margin: 5px 0px;
  transition: 0.5s;
}

.wrap_line_close {
  position: absolute;
  width: 40px;
  height: 5px;
  background-color: black;
  transform: rotate(45deg);
  transition: 0.5s;
}

.wrap_line_close2 {
  width: 40px;
  height: 5px;
  background-color: black;
  transform: rotate(-45deg);
  transition: 0.5s;
}
