.grade_buttons{
    display: flex;
    flex-direction: row;   
}
.default_button{
    margin-left: 10px;
    width: 80px;
    height: 60px;
    border-radius: 5px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.like_button{
    margin-left: 10px;
    width: 80px;
    height: 60px;
    border-radius: 5px;
    background-color:green;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.dislike_button{
    margin-left: 10px;
    width: 80px;
    height: 60px;
    border-radius: 5px;
    background-color:red;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}