.input {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 290px;
    height: 30px;
    padding: 20px;
}
.Input:hover {
    border: 2px solid gray;
}
.Input:focus {
    outline: none;
    pointer-events: none;
}
.Input:disabled {
    background: rgb(216, 216, 216);
    border: none;
}
.error {
    margin-left: 10px;
    color: red;
}
.errorInput {
    border: 1px solid red;
}
.errorInput:hover {
    border: 1px solid red;
}
.text {
    height: 500px;
}