.input {
    width: 100%;
    height: 50px;
}

.inputMain{
    width: 100%;
    background-color:white;
    
    outline: none;
    border: 0;
    height: 100%;

    padding: 0 20px;
}

.inputMain::placeholder{
    color:black ;

}