.button {
   width: 200px;
   height: 50px;
}

.primary {
   background-color: #2436a7;
   color: white;
}

.primary:hover {
   opacity: .8;
}

.primary:disabled {
   opacity: .5;
}

.secondary {
   color: black;
   background-color: #e8e8e8;
}

.secondary:focus {
   background-color: #dadada;
}

.secondary:disabled {

}

.tertiary {
   color: orangered;
}

.tertiary:disabled {
   background-color: #f3f3f3;
   border: 1px solid gray;
}