.wrapper {
   display: flex;
   flex-direction: column;
}

#dark .wrapper {
   background: #313037;
}

.container {
   margin: auto;
   margin-top: 50px;
   margin-bottom: 100px;
   width: 70%;
}

/* #dark .container {
   background: #313037;
} */
