.container {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  min-width: 200px;
  padding: 25px;
  background: blue;
}

.credentials {
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: rgb(81, 81, 246);
}

.fullName {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 700;
  color: white;
}
