.block {
    padding: 0 0 0 5%;
    width: 20%;
    height: 150px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.view {
    justify-content: space-between;
}

.title {
    color: black;
    font-size: medium;
    font-weight: bold;
}


.image {
    width: 70%;
    height: auto;
}

.icon {
    width: 15px;
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
}

.elements {
    padding-left: 60%;
}

.block::after {
    content: '';
    position: absolute;
    left: 80px;
    bottom: 0;
    width: 70%;
    height: 1px;
    background-color: gray;
    opacity: 0.5;
   
}