.header {
    width: 100%;
    display: flex;
    height: 50px;
    background: rgb(24, 24, 177);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}
.user {
    margin: 0;
}
.lupa {
    height: 30px;
    width: 30px;
    filter: invert(100%);
    transform: scaleX(-1);
}
.search {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 85%;
    height: 50px;
}
.searchImg {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-left: 1px solid rgb(177, 177, 177);
    display: flex;
    align-items: center;
    justify-content: center;
}
.result {
    color: gray;
    font-weight: 700;
    font-size: 30px;
    margin-left: 35%;
    margin-top: 25px;
}
.image {
    width: 100px;
    height: 100px;
}
.card {
    width: 200px;
    height: 200px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    flex-direction: column;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}
.card:hover {
    background-color: rgb(158, 158, 158);
}
.cardMenu {
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    margin: 15px auto;
    width: 75%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(189, 189, 189);
    border-radius: 5px;
}
.hiddenUser {
    position: absolute;
    top: 50px;
}