.container {
    height: 40px;
    width: 180px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    background-color:rgb(93, 93, 199);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff54;
    position: absolute;
}
.initials {
   min-width: 30px;
   min-height: 30px;
   background-color:rgb(105, 105, 229);
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 5%;
   border-radius: 3px;
}