.passwrdbtn {
    width: 130px;
    background-color: gold;
    position: absolute;
    left: 200px;
    top: 7.5px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.passwordDiv {
    position: relative;
}