

.container {
    display: flex;
    flex-direction: row;
}

.hamburger {
    height: 50px;
    width: 55px;
    background-color: #2436A7;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
 
   
   }

.border {
    border: 1px inset white;
}

.img {
    display: block;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
}

.search {
    background-color: #2436A7;
    height: 50px;
    width: 75%;
    border: none;

}

.burger {
    position: absolute;
    left: 0;
    top: 50px;
}

.userpanel {
    position: absolute;
    top: 100px;
    left: 800px;
}