.hamburger.false {
  position: absolute;
  top: 50px;
  left: -305px;
  height: 100px;
  transition: left 0.2s;
}
.hamburger.true {
  position: absolute;
  top: 50px;
  left: 0;
  transition: left 0.2s;
}
