.searchInput {
   flex: 1 1 auto;
   min-width: 500px;
   height: 70px;
}

.searchInput input {
   color: white;
   background: #5463ca;
   height: 70px;

}

.searchInput input::placeholder {
   color: white;
}


