.username {
  height: 100px;
  width: 350px;
  background-color: rgb(58, 58, 249);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.shortName {
  background-color: rgb(110, 110, 237);
  width: 50px;
  height: 50px;
  /* align-items: center;
  justify-content: center; */
  line-height: center;
  text-align: center;
  border-radius: 4px;
}
p {
  padding-top: 15px;
}
