.bigBlock {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
}

.containerStyle {
  display: flex;
  flex-direction: row;
  width: 140%;
  flex-wrap: wrap;
  padding-left: 20%;
  /* border: 1px solid red; */
}
