
.bigBlock {
  display: flex;
  flex-direction: row;   
}


.containerStyle {
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;   
    padding-left: 20%;
  }; 


  