.container {
    color: black;
    display: flex;
    flex-direction: row;
    font-size: large;
    margin-top: 30px;
}

.image {
    width: 50%;
    height: auto;
}

.button {
    width: 300px;
    margin: 10px auto;
}