.wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(170 168 168 / 24%);
    margin-bottom: 10px;
}
.imgWrapper{
    display: flex;
}
.imgWrapper img{
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
}