.container{
    display: flex;    
    flex-direction: column;
    width: 180px;
    background-color: white;
    position:absolute;
    height: calc(100% - 40px);
}
.container>div{
    height: 40px;
    color: #666666;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor:pointer;
}
.imgContainer{
    
    
    
        
        color: #666666;
        font-weight: 600;
}
.imgContainer:hover {
    color: rgb(93, 93, 199);
}
