.textarea {
  font-weight: 500;
  font-size: 20px;
  outline: 2px solid transparent;
  border: none;
  padding: 5px 5px;
  opacity: 0.5;
}

.textarea:hover {
  outline-color: rgb(141, 141, 144);
}

.textarea:focus {
  opacity: 1;
  outline-color: rgb(141, 141, 144);
  background-color: rgb(235, 231, 231);
}
