.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
}

.hamburger {
    height: 50px;
    width: 55px;
    background-color: #2436A7;    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
 
   
   }

.border {
    border: 1px inset white;
}

.img {
    display: block;
    min-width: 10px;
    min-height: 10px;
    max-width: 30px;
    max-height: 30px;
    
}

.search {
    background-color: #2436A7;
    height: 50px;
    min-width: 89%;
    border: none;

}

.burger {
    position: absolute;
    left: 0;
    top: 50px;
}


.searchBtn {
    height: 50px;
    width: 55px;
    background-color: #2436A7;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 1px solid white;
 
   
   }


.imgBtn {
    display: block;
    min-width: 10px;
    min-height: 10px;
    max-width: 20px;
    max-height: 20px;
}
