.footer{
    width: 80%;
}
.line{
    width:100%;
    height: 2px;
    background-color: #7B7C81;
}
.footer_content{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}