.container {
   position: relative;
}

.burger {
   width: 70px;
   height: 70px;
   background-color: #2436a7;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

.user {
   top: 70px;
   position: absolute;
}