.searchWrapper{
    flex: 1 1 auto;
    background-color:rgb(93, 93, 199);
    max-height: 60px;
}
.searchInput{
    background-color:rgb(93, 93, 199);
    height: 100%;
    width: 100%;
    border: 1px solid rgb(170, 168, 168);
    outline: none;
}
.searchImgWrapper {
    background-color:rgb(93, 93, 199);
    min-width: 60px;
    min-height: 60px;
    display: flex;
    align-items:center;
    justify-content: center;
    border: 1px solid #ffffff54;
}
.searchImgWrapper img {
    width: 70%;
    height: 70%;
}