.block {
    padding: 0 0 0 5%;
    width: 15%;
    
    display: flex;
    flex-direction: column;
    position: relative;
}

.column {
    display: flex;
    flex-direction: column;
}


.title {
    color: black;
    font-size: medium;
    font-weight: bold;
}

.image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.icon {
    width: 15px;
    height: auto;
    margin-top: 75px;
    margin-left: 5px;
}

.elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block::after {
    content: '';
    position: absolute;
    left: 80px;
    bottom: 0;
    width: 70%;
    height: 1px;
    background-color: gray;
    opacity: 0.5;
   
}