.main {
    background-color:gray;

    font-size: 20px;

    min-width:200px;

    display: flex;
    justify-content: center;
    gap: 20px;
    align-items:center;
    width: 20%;
  }

  .icon {
   width:34px; height:34px; display:flex; justify-content:center; align-items:center
  }


  @media(max-width:680px){
    .main {
      min-width: 100px;
    }
   .name{
      display: none;
    }

  }