.block {
    width: 66%;
    height: auto;
    display: flex;    
    position: relative;
    margin-right: 50px;
    
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.view {
    justify-content: space-between;
}

.title {
    color: black;
    font-size: medium;
    font-weight: bold;
}

.text {
    font-size: small;
}

.image {
    width: 80%;
    
}

.icon {
    width: 15px;
    height: auto;
    margin-top: 75px;
    margin-left: 5px;
}

.elements {
  padding-left: 50%;
}

.block::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 37%;
    height: 1px;
    background-color: gray;
    opacity: 0.5;
   
}