.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
		
}

.light {
	background-color: #F3F3F3;
	color: #d5d1d1;
  }
  
  .dark {
	background-color: #313037;
	color: #68676D;
  }

.content-light {
	flex: 1 0 auto;
	background-color: #F3F3F3;
	color: #d5d1d1;
}

.content-dark {
	flex: 1 0 auto;
	background-color: #313037;
	color: #68676D;
}
.footer {
	flex: 0 0 auto;
}

.long {
	width: 300px;
	height: 10%;
}




