.profileWrapper {
    background-color:rgb(93, 93, 199);
    width: 40px;
    height: 40px;
    display: flex;
    align-items:center;
    justify-content: center;
    border: 1px solid #ffffff54;
}
.profileWrapper img {
    width: 70%;
    height: 70%;
}