.menu {
    margin: 10px 2.5px;
    width: 500px;
    height: 700px;
    background: rgb(235, 235, 235);
    border: 1px solid white;
    border-radius: 10px;
}
.text {
    margin-top: 5px;
    margin-left: 5px;
    font-weight: 700;
    color: gray;
}
h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}
label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: gray;
    margin-left: 10px;
}
.textarea {
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
    resize: none;
    width: 450px;
    height: 150px;
}