@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.registr {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
    width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
}
.anim {
    animation: fadeIn 1s ease-in-out;
}