.button {
    width: 100px;
    height: 50px;
    font-size: 16px;
    margin-right: 40px;
    color: white;
    border: none;
    
}

.primary {
    background-color: #2436a7;
}

.secondary {
    background-color: rgb(232,232,232);
    color: black;
}

.secondary2 {
    background-color: white;
    color: red;
}
.over-Primary {
    opacity: 0.7;
    cursor: pointer;
}

.over-Secondary {
    background-color: #dadada;
    cursor: pointer;
}

.over-Secondary2 {
    border: 1px solid rgb(179, 176, 176);
    cursor: pointer;
}

.isActive-Primary {
    background-color: #e8e8e8;
    color: black;
}

.isActive-Secondary {
    opacity: 0.7;
    color: black;
}

.isActive-Secondary2 {
   opacity: 0.7;
    color: black;
}

