/* signin.module.css */

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #d5d1d1;
  border-radius: 5px;
  background-color: #F3F3F3; /* Изменяем цвет формы на серый (#ccc) */
}


.light {
  background-color: #F3F3F3;
  color: black;
}

.dark {
  background-color: #313037;
  color: #68676D;
}


label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #d5d1d1;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #2436a7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2436a7;
}
